@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@100;300;400;600;800&family=Pacifico&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

/* Menu */
.header-container {
	background-color: #1e2326;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.header-container header {
	max-width: 1100px;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
}
.header-container header .logo a {
	font-family: 'Pacifico';
	font-size: 36px;
	color: #ff8c00;
	text-decoration: none;
}
.header-container header ul {
	display: flex;
	list-style: none;
}
.header-container header nav ul li a {
	text-align: none;
	color: #fff;
	margin: 0 15px;
	padding: 10px;
	transition: 0.5s;
	text-decoration: none;
}
.header-container header nav ul li a:hover {
	color: #ff8c00;
}
.nav-responsive {
	background-color: #ff8c00;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	display: none;
}

/* Home Section  */
.home {
	background: linear-gradient(
			to top,
			rgba(30, 35, 38, 0.8),
			rgba(30, 35, 38, 1)
		),
		url(img/BackgroundImage.jpg);
	background-size: cover;
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
}
.home .banner-content {
	padding: 20px;
	background: #1e2326;
	max-width: 350px;
	margin: auto;
	text-align: center;
	border-radius: 35px;
}
.home .banner-content img {
	margin-top: 40px;
	border: 7px solid #ff8c00;
	display: block;
	width: 250px;
	margin: auto;
	border-radius: 50%;
}
.home .banner-content h1 {
	margin-top: 40px;
	font-size: 32px;
	font-family: 'Kdam Thmor Pro';
}
.home .banner-content h2 {
	font-size: 16px;
	font-weight: normal;
}
.home .banner-content .social a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 100%;
	width: 42px;
	height: 42px;
	line-height: 40px;
	margin: 25px 5px;
	font-size: 20px;
	transition: 0.3s;
}
.home .banner-content .social a:hover {
	background-color: #ff8c00;
}

/* About Me  Section */
.aboutme {
	background-color: #1e2326;
	color: #fff;
	padding: 50px 20px;
}
.aboutme .section-content {
	max-width: 1100px;
	margin: auto;
}
.aboutme h2 {
	font-size: 48px;
	font-family: 'Pacifico';
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.aboutme .section-content p {
	font: 8px;
	line-height: 22px;
	margin-bottom: 20px;
}
.aboutme .section-content p span {
	color: #ff8c00;
	font-weight: bold;
}
.aboutme .row {
	display: flex;
}
.aboutme .row .col {
	width: 50%;
}
.aboutme .row .col h3 {
	font-size: 28px;
	font-family: 'Kdam Thmor Pro';
	margin-bottom: 25px;
}
.aboutme .row .col ul {
	list-style: none;
}
.aboutme .row .col ul li {
	margin: 12px 0;
}
.aboutme .row .col ul li strong {
	display: inline-block;
	color: #ff8c00;
	width: 130px;
}
.aboutme .row .col ul li span {
	background-color: #ff8c00;
	padding: 3px;
	font-weight: bold;
	border-radius: 5px;
}
.aboutme .row .col .interests-container {
	display: flex;
	flex-wrap: wrap;
}
.aboutme .row .col .interests-container .interests {
	width: 100px;
	height: 100px;
	background-color: #252a2e;
	border-radius: 10px;
	margin: 0 15px 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.aboutme .row .col .interests-container .interests:hover {
	background-color: #ff8c00;
}
.aboutme .row .col .interests-container .interests i {
	font-size: 30px;
	margin-bottom: 10px;
}
.aboutme .button {
	cursor: pointer;
	background-color: transparent;
	border: 2px solid #fff;
	width: fit-content;
	display: block;
	margin: 20px auto;
	padding: 10px 22px;
	font-size: 16px;
	color: #fff;
	position: relative;
	z-index: 10;
	border-radius: 10px;
}
.aboutme .button .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #ff8c00;
	z-index: -1;
	transition: 1s;
	border-radius: 10px;
}
.aboutme .button:hover .overlay {
	width: 100%;
}

/* Skills Section  */
.skills {
	background-color: #252a2e;
	color: #fff;
	padding: 50px 20px;
}
.skills .section-content {
	max-width: 1100px;
	margin: auto;
}
.skills h2 {
	font-size: 48px;
	font-family: 'Pacifico';
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.skills .row {
	display: flex;
}
.skills .row .col {
	width: 50%;
	padding: 0 20px;
}
.skills .row .col h3 {
	font-size: 28px;
	font-family: 'Kdam Thmor Pro';
	margin-bottom: 25px;
}
.skills .skill > span {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
.skills .skill .skill-stick {
	height: 8px;
	width: 80%;
	background-color: #131517;
	position: relative;
	margin-bottom: 30px;
}
.skills .skill .progress {
	background-color: #ff8c00;
	position: absolute;
	top: 0;
	left: 0;
	height: 8px;
}
.skills .skill .skill-stick span {
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: #ff8c00;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
	top: -17px;
	right: -15px;
	font-size: 14px;
}
.skills .skill .javascript {
	width: 0%;
	animation: 2s javascript forwards;
}
@keyframes javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}
.skills .skill .htmlcss {
	width: 0%;
	animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}
.skills .skill .python {
	width: 0%;
	animation: 2s python forwards;
}
@keyframes python {
	0% {
		width: 0%;
	}
	100% {
		width: 85%;
	}
}
.skills .skill .sql {
	width: 0%;
	animation: 2s sql forwards;
}
@keyframes sql {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
.skills .skill .java {
	width: 0%;
	animation: 2s java forwards;
}
@keyframes java {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}
.skills .skill .excel {
	width: 0%;
	animation: 2s excel forwards;
}
@keyframes excel {
	0% {
		width: 0%;
	}
	100% {
		width: 85%;
	}
}
.skills .skill .tableau {
	width: 0%;
	animation: 2s tableau forwards;
}
@keyframes tableau {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
.skills .skill .comunication {
	width: 0%;
	animation: 2s comunication forwards;
}
@keyframes comunication {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}
.skills .skill .teamwork {
	width: 0%;
	animation: 2s teamwork forwards;
}
@keyframes teamwork {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.skills .skill .creativity {
	width: 0%;
	animation: 2s creativity forwards;
}
@keyframes creativity {
	0% {
		width: 0%;
	}
	100% {
		width: 75%;
	}
}
.skills .skill .dedication {
	width: 0%;
	animation: 2s dedication forwards;
}
@keyframes dedication {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.skills .skill .motivation {
	width: 0%;
	animation: 2s motivation forwards;
}
@keyframes motivation {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.skills .skill .organized {
	width: 0%;
	animation: 2s organized forwards;
}
@keyframes organized {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.skills .skill .eager {
	width: 0%;
	animation: 2s eager forwards;
}
@keyframes eager {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* Curriculum  Section  */
.curriculum {
	background-color: #1e2326;
	color: #fff;
	padding: 50px 20px;
}
.curriculum .section-content {
	max-width: 1100px;
	margin: auto;
}
.curriculum h2 {
	font-size: 48px;
	font-family: 'Pacifico';
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.curriculum .row {
	display: flex;
	justify-content: space-between;
}
.curriculum .row .col {
	width: 49%;
	padding: 0 20px;
}
.curriculum .row .col h3 {
	font-size: 28px;
	font-family: 'Kdam Thmor Pro';
	margin-bottom: 25px;
}
.curriculum .row .izquierda {
	border-right: 2px solid #252a2e;
}
.curriculum .row .derecha {
	border-left: 2px solid #252a2e;
}
.curriculum .row .item {
	padding: 25px;
	margin-bottom: 30px;
	background-color: #252a2e;
	position: relative;
}
.curriculum .row .item h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
.curriculum .row .item .place {
	color: #c56d02;
	font-size: 22px;
	font-weight: bold;
	display: block;
}
.curriculum .row .item .date {
	display: block;
	color: #cb7a17;
	margin-bottom: 10px;
}
.curriculum .row .item .p {
	line-height: 24px;
}
.curriculum .row .izq {
	border-right: 2px solid #ff8c00;
	margin-right: 20px;
}
.curriculum .row .der {
	border-left: 2px solid #ff8c00;
	margin-left: 20px;
}
.curriculum .row .item .conectori {
	height: 2px;
	background-color: #ff8c00;
	width: 47px;
	position: absolute;
	top: 50%;
	right: -47px;
	z-index: 10;
}
.curriculum .row .item .conectori .circlei {
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #ff8c00;
	float: right;
	position: relative;
	bottom: 4px;
}
.curriculum .row .item .conectorj {
	height: 2px;
	background-color: #ff8c00;
	width: 47px;
	position: absolute;
	top: 50%;
	left: -47px;
	z-index: 10;
}
.curriculum .row .item .conectorj .circlej {
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #ff8c00;
	float: left;
	position: relative;
	bottom: 4px;
}

/* Portfoli section */
.portfolio {
	background-color: #252a2e;
	color: #fff;
	padding: 50px 20px;
}
.portfolio .section-content {
	max-width: 1100px;
	margin: auto;
}
.portfolio h2 {
	font-size: 48px;
	font-family: 'Pacifico';
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.portfolio .galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.portfolio .galery a {
	text-decoration: none;
	color: inherit;
}
.portfolio .galery a:hover {
	text-decoration: underline;
}

.portfolio .galery .project {
	position: relative;
	max-width: 340px;
	height: fit-content;
	margin: 10px;
	cursor: pointer;
}
.portfolio .galery .project img {
	width: 100%;
	display: block;
}
.portfolio .galery .project .overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: linear-gradient(rgba(253, 178, 2, 0.9), rgba(253, 178, 2, 0.9));
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 1s;
	font-size: 18px;
	letter-spacing: 3px;
	opacity: 0;
}
.portfolio .galery .project .overlay h3 {
	margin-bottom: 20px;
	transition: 1s;
}
.portfolio .galery .project .overlay:hover {
	opacity: 1;
}
.portfolio .galery .project .overlay:hover h3 {
	margin-bottom: 0px;
}

/* contact section */

.contact {
	background-color: #1e2326;
	color: #fff;
	padding: 50px 0;
}
.contact .section-content {
	max-width: 1100px;
	margin: auto;
}
.contact h2 {
	font-size: 48px;
	font-family: 'Pacifico';
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.contact .row {
	display: flex;
}
.contact .col {
	width: 50%;
	padding: 10px;
	position: relative;
}
.contact .col input,
.contact .col textarea {
	display: block;
	width: 100%;
	padding: 18px;
	border: none;
	margin-bottom: 20px;
	background-color: #252a2e;
	color: #fff;
	font-size: 18px;
}
.contact button {
	cursor: pointer;
	background-color: transparent;
	border: 2px solid #fff;
	width: fit-content;
	display: block;
	margin: 20px auto;
	padding: 10px 22px;
	font-size: 16px;
	color: #fff;
	position: relative;
	z-index: 10;
	border-radius: 10px;
}
.contact button .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #ff8c00;
	z-index: -1;
	transition: 1s;
	border-radius: 10px;
}
.contact button:hover .overlay {
	width: 100%;
}
.contact .col iframe {
	width: 100%;
	height: 87%;
}
.contact .col .info {
	position: absolute;
	top: 40%;
	background-color: #252a2e;
	padding: 20px;
	max-width: 350px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.contact .col .info ul {
	list-style: none;
}
.contact .col .info ul li {
	margin-bottom: 20px;
}
.contact .col .info ul li i {
	color: #ff8c00;
	display: inline-block;
	margin-right: 10px;
}

#messageSend {
	font-size: 50px;
	width: 350px;
	height: 800px;
	padding: 250px 10px;
}

/* footer */
footer {
	background-color: #252a2e;
	color: #fff;
	padding: 30px 0 30px 0;
	text-align: center;
	position: relative;
	width: 100%;
}

footer .social a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 100%;
	width: 42px;
	height: 42px;
	line-height: 40px;
	margin: 25px 5px;
	font-size: 20px;
	transition: 0.3s;
}
footer .up {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #ff8c00;
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -25px;
	border-radius: 50%;
	line-height: 50px;
	font-size: 18px;
}

/* Responsive section */
@media screen and (max-width: 980px) {
	nav {
		display: none;
	}
	.nav-responsive {
		display: block;
	}
	nav.responsive {
		display: block;
		position: absolute;
		right: 0;
		top: 75px;
		background-color: #252a2e;
		width: 180px;
	}
	nav.responsive ul {
		display: block !important;
	}
	nav.responsive ul li {
		border-bottom: 1px solid #fff;
		padding: 10px 0;
	}
}

@media screen and (max-width: 700px) {
	.aboutme .row {
		display: block;
	}
	.aboutme .row .col {
		width: fit-content;
	}

	.skills .row {
		display: block;
	}
	.skills .row .col {
		width: 100%;
	}
	.skills .row .col .skill-stick {
		width: 100%;
	}

	.curriculum .row {
		display: block;
	}
	.curriculum .row .col {
		width: 90%;
	}
	.curriculum .row .derecha {
		margin-left: 20px;
	}

	.portfolio .galery {
		display: block;
		width: 100%;
	}
	.portfolio .galery .project {
		max-width: 100%;
	}
	.portfolio .galery .project img {
		width: 100%;
	}

	.contact .row {
		display: block;
	}
	.contact .row .col {
		width: 100%;
	}
}
